:root {
    --white: #ffffff;
    --black: #000000;
    --red: #950505;   
    --color-border: #e6e3f1;
    --black-opacity: rgba(0, 0, 0, 0.04);
    --color-body: #6b7385;
    --white-rgb: 255,255,255;
    --black-rgb: 0,0,0;
    --yelow-rgb: 209, 190, 15;
    --transition: 0.3s;
    --transition-4: all .25s cubic-bezier(.645,.045,.355,1);
    --radius:6px;
    --shadow-1: 0px 6px 34px rgba(215, 216, 222, 0.41);
}
body{
    background-color: rgba(var(--black-rgb),0.05);
    scroll-behavior: auto;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: thin;
}
/**
 * default class
 */
.position-static{
    position: static!important;
}
.tx__hover--red:hover{
    color: var(--red);
}
.tx-center{
    text-align: center;
}
.hover-white:hover{
    background-color: rgba(var(--white-rgb), 0.3);
}
.hover-yelow:hover{
    background-color: rgba(var(--yelow-rgb), 0.3);
}
.tx-hover{
    transition: var(--transition);
}
.tx-hover:hover, .tx-hover.active{
    color: var(--red);
}
.tx-hover-line{
    position: relative;
}

.tx-hover-line::after {
    position: absolute;
    content: "";
    left: auto;
    bottom: 0;
    background: currentColor;
    width: 0;
    height: 1px;
    transition: var(--transition);
    right: 0;
}
.tx-hover-line:hover::after{
    width: 100%;
    left: 0;
    right: auto;
}
.tx-hover-line.active{
    border-bottom: 1px solid var(--red);
}

.border--color{
    border: 1px solid var(--color-border);
}

.line_hf{
    position: relative;
}
.line_hf::before{
    content: "";
    background-color: rgba(var(--white-rgb),0.3);
    height: 20px;
    width: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.readmore__btn{
    font-size: 1rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.readmore__btn__link{
    color: rgba(var(--black-rgb), 0.7);;
    position: relative;
    transition: var(--transition);
    font-size: 1.3em;
    font-weight: 500;
    display: inline-block;
}
.readmore__btn__link i{
    position: relative;
    top:1px;
    padding-left: 4px;
}
.readmore__btn__link:hover{
    color: rgba(var(--red-rgb), 0.7);
}

.readmore__btn__link::after {
    position: absolute;
    content: "";
    left: auto;
    bottom: 0;
    background: currentColor;
    width: 0;
    height: 2px;
    transition: var(--transition);
    right: 0;
}
.readmore__btn__link:hover::after{
    width: 100%;
    left: 0;
    right: auto;
}

.btn--hover{
    border-radius: 50%;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
}
.btn--hover::before {
    background-color: rgba(var(--black-rgb), 0.2);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(0.8);
    border-radius: 100%;
    transition: var(--transition);
    z-index: -1;
}
.btn--hover:hover::before{
    opacity: 1;
    transform: scale(1);
}

@keyframes headerSticky {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes stickySlideDown {
    0% {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}


/* --- Header top */
.header-top{
    background-color: var(--red);
    color: var(--white);
    font-size: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
    min-height: 3.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header_top_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header_left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
    font-size: 1rem;
    color: var(--black-opacity);
}
.header_left>li{
    margin: 0px 7px;
    color: rgba(var(--white-rgb),0.6);
}
.header_left > li >a{
    padding: 0;
    font-size: 1.4em;
    line-height: 1.57em;
    display: flex;
    align-items: center;
    transition: 0.4s;
    font-weight: 400;
}

.header_left > li >a>i{   
    font-size: 1.4em;
    margin-right: 0.3em;
}

.header_left>li>a>span{
    margin-left: 4px;
}

.header_right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.socials{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    list-style: none;   
    color: rgba(var(--white-rgb),0.6); 
    margin-right: 5px;
}
.socials > li{
    margin: 0;
}

.socials > li >a{   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    text-align: center;
    border-radius: 100%;
    z-index: 1;  
    position: relative;
}
.socials>li>a::before{ 
    background-color: rgba(var(--white-rgb), 0.2);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(0.8);
    border-radius: 100%;
    z-index: -1;
    transition: var(--transition);
}
.socials >li>a>i{   
    font-size: 1.7em;
}
.socials > li>a:hover::before {
    opacity: 1;
    transform: scale(1);
}

.switcher_language{
    padding: 0px 1rem;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}
.switcher_language li{
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.switcher_language >li >a{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.switcher_language > li > a span{
    font-size: 1.4em;
}
.switcher_language > li >a img{
   border-radius:2px;
   width: 2em;
}

.switcher_language_sub{
    color: var(--black);
    border-top: 1px solid #e6e3f14f;
    background: #fff;
    box-shadow: var(--shadow-1);
    min-width: 15em;
    padding: 1em 0;
    margin: 0;
    list-style-type: none;
    z-index: 10;
    text-align: start;
    border-radius: var(--radius);
    right: 0;
    font-size: 1rem;
}

.switcher_language_sub li{
    margin: 0;
    list-style: none;
}

.switcher_language_sub>li>a{
    margin: 2px 1em;
    padding: 4px 1.2em;
    border-radius: var(--radius);
    display: flex;
    align-items: center;  
    font-weight: 400;
}
.switcher_language_sub>li>a span{
    font-size: 1.4em;
}

.dropdown-menu li .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    clip: rect(0px, 200vw, 0, 0px);
    opacity: 1;
    transition: opacity 0.4s linear, clip 0.6s linear, visibility 0s 0.4s;
    transform: translateZ(0);
}
.dropdown-menu>li>a .right-icon,.with-megamenu .right-icon{
    transition: var(--transition-4);
    font-size: 1em;
}

.dropdown-menu li:hover .sub-menu{
    top: 100%;
    visibility: visible;
    opacity: 1;
    clip: rect(0px, 100vw, 200vh, -30px);
    transition: clip 0.6s linear, opacity 0.4s linear;
}

.dropdown-menu li:hover .right-icon,.with-megamenu:hover .right-icon{
    transform: rotate(180deg);
}

.header-wrapper{
    position: relative;
    background-color: var(--white);
    box-shadow: var(--shadow-1);
}
.header-wrapper.zp-sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    width: 100%;
    animation: stickySlideDown 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
    z-index: 99;
    box-shadow: var(--shadow-1);
}


/* --- navigation --- */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nabar_left{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.logo a img {
    max-height: 4em;
    object-fit: cover;
}

.category_wrapper{
    display: flex;
    align-items: center;
    font-size: 1rem;
    height: 6em;
    position: relative;
}
.category_menu{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.3em;
    cursor: pointer;
    padding: 1em 2em;
    font-weight: 500;
    background-color: rgba(var(--black-rgb),0.05);
    color: rgba(var(--black-rgb),0.7);
    border-radius: 3em;
}
.category_menu i,.category_menu span{
    font-size: 1.4em ;
}

.category-dropdown{
    font-size: 1rem;
    min-width: 24em;
    text-align: left;
    border-radius: 0px 0px 1em 1em;
    padding: 0;
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s linear, clip 0.6s linear, visibility 0s 0.4s;
    transform:translateZ(0);
    border-top: 1px solid #e6e3f14f;
    box-shadow: var(--shadow-1);
    background-color: var(--white);
    z-index: 5;
}
.category_wrapper:hover .category-dropdown{
    top: 100%;
    visibility: visible;
    opacity: 1;
    clip: rect(0px, 100vw, 200vh, -30px);
    transition: clip 0.6s linear, opacity 0.4s linear;
}

.category_menu_wrapper{
    display: flex;
    font-size: 1rem;
    padding: 1.5em;
}
.category_menu_list{
    min-width: 15em;
    width: auto;
    border-right: 1px solid #e6e3f14f;
    padding-right: 1em;
}
.category_menu_list li{  
    padding: 0.7em 1em;
    font-weight: 600;
    transition: var(--transition);
    color: var(--color-body);
}
.category_menu_list>li>a{  
    font-size: 1.4rem;
}

.category_menu_list li:hover,.category_menu_list li.active{
    color: var(--red);
    background-color: rgba(var(--black-rgb),0.05);
    border-radius: 3px;
}

.category_menu_content{
    font-size: 1rem;
    height: 100%;
    width: auto;
    min-width: 38em;
    padding: 0.3em 1em 1em 1em;
}

.category_menu_col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab-content{
    display: none;
}
.tab-content.active{
    display: block;
}

.tab-content .grid-2{
    gap: 1em;
}

.short-title{
    font-size: 1.2em;
    padding-bottom: 0.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    opacity: 0.5;
    margin-bottom: 6px;
    border-bottom: 1px solid var(--color-border);
}

.category_menu_content_list{
    list-style: none;
    font-size: 1rem; 
    margin-top: 0.5em;   
}
.category_menu_content_list li{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.1em;
    color: var(--color-body);
}
.category_menu_content_list li:hover{
    color: var(--red);
    background-color: rgba(var(--black-rgb),0.05);
    border-radius: 3px;
}

.category_menu_content_list>li>a{
    font-size: 1.2em;
}

/* --- nav menus --- */
.nav__menus{
    font-size: 1rem;
    list-style: none;
    display: flex;
    gap: 1em;
}

.nav__menus > li{
    height: 6em;
    display: flex;
    align-items: center;
    color: rgba(var(--black-rgb),0.7);
    font-weight: 600;
    position: relative;
}

.nav__menus > li > a{
    display: flex;
    align-items: center;
    height: 100%;
}

.nav__menus > li > a,.nav__menus > li > a > i{
    font-size: 1.4em;
}

.btn-all-menu{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 3px;
    position: relative;
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
    z-index: 1;
}
.btn-all-menu:hover{
    color: var(--red);
}
.btn-all-menu:hover::before{
    opacity: 1;
    transform: scale(1);
}

.btn-all-menu::before{
    background-color: rgba(var(--black-rgb), 0.2);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(0.8);
    border-radius: 100%;  
    transition: var(--transition);
    z-index: -1;
}
.btn-all-menu >i{
    color: rgba(var(--black-rgb),0.6);
    font-size: 1.3em;
}
.menus__bar{
    display: none;
    width: 4em;
    height: 4em;
    padding:5px;
    position: relative;
    z-index: 1;
}
.menus__bar::before{
    background-color: rgba(var(--black-rgb), 0.08);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(0.8);
    border-radius: 100%;  
    transition: var(--transition);
    z-index: -1;
}
.menus__bar:hover::before{
    opacity: 1;
    transform: scale(1);
}

.menus__bar>svg{
    width: 100%;
    fill: var(--color-body);
}


/* --- sub mega menu --- */
.with-megamenu:hover .megamenu{
    top: 100%;
    visibility: visible;
    opacity: 1;
    clip: rect(0px, 100vw, 200vh, -30px);
    transition: clip 0.6s linear, opacity 0.4s linear;
}

.megamenu{
    font-size: 1rem;   
    margin: 0px auto;
    position: absolute;
    top:100%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s linear, clip 0.6s linear, visibility 0s 0.4s;
    transform: translateZ(0);
  
}
.megamenu--grid3{
    width: 90em;
}
.megamenu__wrapper{
    padding: 2em;
    background-color: var(--white);
}
.megamenu--grid3 .megamenu__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}
.megamenu__item__img img{
    border-radius: 5px;
}
.megamenu__item__title{
    font-size: 1.3em;
    padding-bottom: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    opacity: 0.5;
    margin-bottom: 6px;
    border-bottom: 1px solid var(--color-border);
    color: rgba(var(--black-rgb),0.7);
}
.megamenu__item__list{
    font-size: 1rem;  
    margin-top: 2em;
}

.megamenu__item__list >li >a{
    color: rgba(var(--black-rgb),0.6);
    padding: 0.6em 0px;
    font-size: 1.4em;
    transition: var(--transition);
    width: 100%;
    display: inline-block;
    border-radius: 6px;
}
.megamenu__item__list >li >a:hover{
    color: var(--red);
    background-color: rgba(var(--black-rgb),0.05);
}

.nabar_right{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.btn__search{
    font-size: 1rem;
    padding: 0.5em;
    margin: 0;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.btn__search i{
    font-size: 2em;
}

.btn__search::before {
    background-color: rgba(var(--black-rgb), 0.2);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(0.8);
    border-radius: 100%;
    z-index: -1;
    transition: var(--transition);
}
.btn__search:hover{
    color: var(--red);
}
.btn__search:hover::before{
    opacity: 1;
    transform: scale(1);
}

.nabar__price{
    display: flex;
    align-items: center;
}

.nabar__price a{
    font-size: 1rem;  
    border-radius: 500px; 
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: rgba(var(--black-rgb),0.7);    
    padding: 0px 2.2em;   
    height: 4em;
    line-height: 4em;
    background: linear-gradient(90deg, #f26b6b, #a70c0c);
    box-shadow: 0 1em 1.3em 0 rgba(209, 211, 237, 0.39);
    overflow: hidden;
    letter-spacing: 0.5px;
    font-weight: 500;
    display: inline-block;
    transition: all 0.4s ease-in-out;
}

.nabar__price a::before{
    border-radius: 500px;
    content: "";
    z-index: -1;
    top: 3px;
    left: 3px;
    position: absolute;
    background: #fff;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
}

.nabar__price a span{ 
    position: relative;
    display: inline-flex;
    font-size: 1.4em;
    font-weight: 500;
    animation: btnTxtMarqueeX 2s linear infinite;
    z-index: 1;
}
.nabar__price a span::after{
    content: attr(data-text);
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 100%;
    transform: translate(100%, -50%);
}

@keyframes translatey-keyframe{
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
}
  

@keyframes btnTxtMarqueeX {
    100% {
        transform: translateX(-200%)
    }
}
@keyframes btnTxtMarqueeY {
    100% {
        transform: translateY(-200%)
    }
}
/* --- search box dropdown --- */
.search__dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid #f1f0f3;
    box-shadow: 0 4px 16px rgba(8, 10, 18, 0.1);
    visibility: hidden;
    clip: rect(0px, 200vw, 0, 0px);
    opacity: 0;
    transition: opacity 0.2s linear, clip 0.6s linear, visibility 0s 0.2s;
    transform: translateZ(0);

}
.search__dropdown.active {
    visibility: visible;
    opacity: 1;
    clip: rect(0px, 200vw, 200vh, 0px);
    transition: clip 0.6s linear, opacity 0.2s linear;
}

.search__dropdown__wrapper{
    font-size: 1rem;
    max-width: 90em;
    margin: 1.6em auto;
    padding: 0 1.6em;
    font-weight: 400;
}
.search__dropdown__form{
    margin: 3em 0;
}
.search__dropdown__form form{ 
    display: flex;
}
.search__dropdown__form form input{ 
    width: 100%;
    font-size: 1.6em;
    font-weight: 400;
    height: 3.125em;
    line-height: 3em;
    margin: 0 0.75em 0 0;
    padding: 0 1em;
    border: 2px solid var(--color-border);
    transition: 0.3s;
}

.search__dropdown__form form input::placeholder{
    color: rgba(var(--black-rgb),0.5);
}

.search__dropdown__form form button{
    display: inline-block;
    font-size: 1.6em;
    width: 9em;
    height: 3.125em;
    line-height: 3em;
    color: var(--white);
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #d61111, #e47f7f, #e76666, #ef2f2f);
    max-width: 100%;
    outline: none;
    border:none;
    border-radius: 0.45em;
}
.search__dropdown__form form button:hover{
    background-color: inherit;
    background-position: 102% 0;
    transition: all 0.4s ease-in-out;
}

.search__dropdown__result{
    margin-top: 3em;
    padding-top:3em;
    border-top: 1px dashed rgba(var(--black-rgb),0.1);
}
.search__title{
    margin:auto;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding:1rem 2.5rem;
    color:var(--red);
    background-color: rgba(var(--black-rgb),0.1);
    border-radius: 3rem;
    width: fit-content;
}
.search__list{
    font-size: 1rem;
    margin-top: 2em;
    margin-bottom: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

.search__list__keyword{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.search__list__keyword a, .search__keyword__blank{
    font-size: 1.4em;
    padding: 0 1.2em;
    border-radius: 2em;
    background: rgba(var(--black-rgb),0.05);
    color: var(--color-body);
    box-shadow: var(--shadow-1);
    display: inline-block;
    height: 2.5em;
    line-height: 2.5em;
    min-width: 5em;
    transition: var(--transition);
}
.search__list__keyword a:hover{
    background: rgba(var(--black-rgb),0.1);
    color: var(--color-white);
    transform: scale(1.1);
}

.search__keyword__blank {
    box-shadow: 19px 20px 34px 0 rgba(164, 160, 196, 0.19);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #dddbdb 100%);
    pointer-events: none;
}

/* --- event search dropdown --- */
.search-opened body::before {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(15px);
}
.search-opened body::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    z-index: -1;
    transition: all 0.7s;
}
.btn__search.open .ri-search-2-line::before{
    content: "\eb98";
}

/* --- mega menu full width --- */
.with-megamenu:hover .menusall{
    top: 100%;
    visibility: visible;
    opacity: 1;
    clip: rect(0px, 100vw, 200vh, -30px);
    transition: clip 0.6s linear, opacity 0.4s linear;
}

.menusall{
    font-size: 1rem;   
    margin: 0px auto;
    position: absolute;
    top:100%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s linear, clip 0.6s linear, visibility 0s 0.4s;
    transform: translateZ(0);
    padding: 2em 0e 0 0;  
    background-color: var(--white);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    z-index: 9;
}

.menusall__title{
    font-size: 1.6em;
    font-weight: 600;
    padding-bottom: 0.7em;
    border-bottom: 1px solid var(--color-border);
    color: rgba(var(--black-rgb),0.6);
    padding-left: 1em;
    padding-top: 2em;
}

.menusall__wrapper{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.menus__widget{
    font-size: 1rem;
}
.menusall__left{
    padding:1em;
    border-right: 1px solid var(--color-border);
}
.menusall__right{
    padding:1em;
}

.menus__widget--right+.menus__widget--right{
    border-top: 1px dashed rgba(var(--black-rgb),0.1);
}

.menus__widget.menus__widget--right{
    padding: 2em 1em;
}
.menus__widget--right h3{
    color: rgba(var(--black-rgb),0.5);
}

.menus__widget h3{
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 1em;    
}
.menus__widget h3 >a{
    transition: var(--transition);
}
.menus__widget h3 >a:hover{
    color: var(--red);
}

.menus__widget--right h3{
    padding-bottom: 0.5em;
    position: relative;
    z-index: 1;
}
.menus__widget--right h3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 5rem;
    z-index: -1;
    border-radius: 5px;
    background-color: rgba(var(--black-rgb),0.3);
}

.menus__widget__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    color: rgba(var(--black-rgb),0.6);
 
}
.menus__widget--right .menus__widget__list >li>a{
    font-weight: 600;
}

.menus__widget__list >li>a{   
    font-size: 1.3em;
    display: flex;
    align-items: center;
    transition: var(--transition);
    font-weight: 400;
}
.menus__widget__list >li:hover>a{
    color: var(--red);
}

.menus__widget__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5em;
    padding: 1em 0px;
}

.menus__widget__info{
    list-style: none;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.menus__widget__info li{
    display: flex;
    align-items: center;
   
}

.menus__widget__info li > a{
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.menus__widget__info li > a >i{
  margin-right: 3px;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: rgba(var(--black-rgb),0.1);
  position: relative;
  z-index: 1;
  transition: var(--transition);
}
.menus__widget__info li > a >i::after{
    background-color: var(--red);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(0.8);
    border-radius: 100%;
    z-index: -1;
    transition: var(--transition);    
}
.menus__widget__info li > a:hover >i::after{
    opacity: 1;
    transform: scale(1);
}
.menus__widget__info li > a:hover >i{
    color: var(--white);
}
.menus__widget__info li > a >i::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menus__widget__info li > a:hover{
    color: var(--red);
}

.menusall__footer{
   display: grid;
   grid-template-columns: 1fr 1fr;
   position: relative;
   z-index: 1;
   margin-top: 1em;
   padding-top:1em;
}
.menusall__footer::before{
    content: "";
    z-index: -1;
    position: absolute;
    top:0;
    left: 50%;
    width: 50%;      
    border-top: 1px dashed var(--color-border);
    transform: translateX(-50%);
}

.menusall__form{
    display: flex;
    flex-direction: column; 
    gap: 1em;
    padding:1em;
}

.menusall__form >h3{
    font-size: 1.3em;
    font-weight: 500;
    color: rgba(var(--black-rgb), 0.5);
    display: inline-block;
}

.menusall__form > ul{
    display: flex;
    align-items: center;
    list-style:circle;
    flex-wrap: wrap;
    padding: 0 1em 0 1em;
    color: rgba(var(--black-rgb),0.6);
}

.menusall__form > ul >li{
    width: 50%;
    margin-bottom: 5px;
}
.menusall__form > ul >li >a{
    font-size: 1.2em;
    font-weight: 400;
}

.menusall_flow{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.menusall_flow >h3{
    font-size: 1.3em;
    font-weight: 500;
    color: rgba(var(--black-rgb), 0.5);
}

.menusall__socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.menusall__socials >li{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color:rgba(var(--black-rgb), 0.05); ;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 1; 
    position: relative;
}
.menusall__socials >li::before{
    background-color: var(--red);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(0.8);
    border-radius: 100%;
    z-index: -1;
    transition: var(--transition);    
}
.menusall__socials >li:hover{
    color: var(--white);
}
.menusall__socials >li:hover::before{
    opacity: 1;
    transform: scale(1);
}

.menusall__socials >li>a{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/**
 * popup mobile menu --------------------------------------------------------------------
 */
.mb__menus{
    z-index: 9999;
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.mb__menus.active{
    visibility: visible;
    opacity: 1;
}
.mb__menus.active .mb__menus__wrapper {
    opacity: 1;
    left: 0;
    overflow-y: auto;
}

.mb__menus__wrapper{
    width: 90%;
    z-index: 999;
    position: absolute;
    background-color: var(--white);
    height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    opacity: 0;
    left: -150px;
    transition: all 0.5s ease-out;
    padding: 2em;
    height: 100%;
    position: relative;
    overflow-y: auto;
}
.mb__menus__logo{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}
.mb__menus__logo img{
    max-height: 6em;
}
.mb__menus__close{
    font-size: 1em;
    height: 5em;
    width: 5em;   
}

.mb__menus__close>i{
    font-size: 3em;
}

.mb__menus__search{
    display: flex;
    font-size: 1rem;
    width: 90%;
    margin: 10px auto;
    padding: 0.5em;
    border-radius: 5em;
    background-color: rgba(var(--black-rgb),0.05);
}

.mb__menus__search > button{
    border: none;
    background-color: transparent;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    color: var(--color-body)
}

.mb__menus__search > input{
    background-color: transparent;
    width: calc(100% - 2em);
    border:none;
    border-radius: 2em;
    padding: 0.5em;
    font-size: 1.5em;
}
.mb_infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mb__menus__info{
    font-size: 1rem;
    list-style: none;
    margin: 1em 0px 0px 0px;
}
.mb__menus__info >li{
    margin-bottom: 5px;
}
.mb__menus__info >li >a{
    font-size: 1.625em;
    text-align: center;
    display: flex;
    align-items: center;
    color: var(--color-body);
}
.mb__menus__info >li >a >i{
    margin-right: 3px;
}

.mb__menusbar__wrapper{
    margin-bottom: 1em;
}
.mb__menubar{
    font-size: 1rem;
}
.mb__menubar__item{
    font-size: 1.8em;   
    border-bottom: 1px solid var(--color-border);
}
.mb__menubar__item >a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    padding-bottom: 7px;
    padding-top:7px;
}
.mb__menubar__sub{
   padding: 0;
   margin-bottom: 7px;
   display: none;
}
.mb__menubar__wrapper{
    font-size: 1rem;
    list-style: none;
    padding-left: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.mb__menubar__wrapper > li{
   font-size: 1.7em;
   font-weight: 300;
   transition: var(--transition);
}
.mb__menubar__wrapper > li:hover{
    color: var(--red);   
    border-radius: 3px;
    padding-left: 0.5em;
}
.mb__menubar__wrapper > li:hover >a{
    background-color: transparent;
}

.mb__children {
    animation: translatey-keyframe 400ms ease-in-out;
}

.mb__children.open .mb__menubar__sub{
    display: block;
}
.mb__children >a>i::before{
    transition: var(--transition);
}
.mb__children.open >a>i::before{
    content: "\f1af";
}

.mb__children.open >a{
    color:var(--red);
}

.mb__menus_socials{
    font-size: 1rem;
    margin: 1.5em 0px;
    color: var(--color-body);
}

.mb__menus_socials >h3{
    font-size: 1.7em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--color-border);
    font-weight: 600;
    text-transform: uppercase;
}
.mb__socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    gap: 1em;
}

.mb__socials > li >a{
    font-size: 1em;  
    width:4em;
    height:4em;
    border-radius: 50%;
    border: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.mb__socials > li >a::before {
    background-color: rgba(var(--black-rgb), 0.2);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(0.8);
    border-radius: 100%;
    z-index: -1;
    transition: var(--transition);
}

.mb__socials > li >a>i{
    font-size: 1.8em;
}
.mb__socials > li>a:hover::before {
    opacity: 1;
    transform: scale(1);
}
/* --- footer --- */
.footer__wrapper{
    font-size: 1rem;
    padding: 2em 0;
}
.footer__logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo img{
    height: 4em;
    width: auto;
}

.footer__socials{    
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap:5px;
}
.footer__socials>h4{
    font-size: 1.3em;
    color: var(--color-body);
    font-weight: 500;
}

.footer__socials>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.footer__socials>ul>li{
    position: relative;
    width: 3em;
    height: 3em;
    border: 1px solid var(--color-border);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: var(--transition);
}

.footer__socials>ul>li i{
    font-size: 1.5em;
}

.footer__socials>ul>li::before{
    background-color: rgba(var(--black-rgb), 0.2);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(0.8);
    border-radius: 100%;
    z-index: -1;
    transition: var(--transition);
}
.footer__socials>ul>li:hover{
    color:var(--red);
}
.footer__socials>ul>li:hover::before {
    opacity: 1;
    transform: scale(1);
}


.footer__list{
    margin: 1em 0px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    gap: 1em;
}
.footer__item{
    color: rgba(var(--black-rgb), 0.7); 
}
.footer__item >p{
    font-size: 1.4em;
    text-align: justify;   
}

.footer__item__company{
    margin-bottom: 1em;
}
.footer__item__company >h3{
    font-size: 1.6em;
    color:  rgba(var(--black-rgb), 0.5); 
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.footer__item__company >ul{
    font-size: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.footer__item__company >ul>li {
    font-size: 1.3em;
    display: flex;
    align-items: center;
}
.footer__item__company >ul>li>a{
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__item__company >ul>li>strong{
    color: rgba(var(--black-rgb), 0.6);
    margin-right: 3px;
}

.footer__item__company >ul>li>i{
    font-size: 1.4em;
    color:rgba(var(--red-rgb), 0.8);
    margin-right: 3px;
}
.footer__item__tel > strong{
    font-size: 1.4em;
    margin-right: 10px!important;
    font-weight: 500;
}

.footer__item__tel > a{
    font-size: 1.5em;
    color: var(--red);
    font-weight: 700;
}

.footer__item__info{
    font-size: 1rem;    
}

.footer__item__info>h3{
    font-size: 1.4em;
    margin-bottom: 10px;
    color: var(--color-body);
    text-transform: uppercase;
    font-weight: 600;
}

.footer__item__info>ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.footer__item__info>ul>li{
    font-size: 1.3em;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.footer__item__info>ul>li>a{
    color: rgba(var(--black-rgb), 0.6);
    transition: var(--transition);
}
.footer__item__info>ul>li>a:hover{
    padding-left: 2px;
    color:var(--red);
}

.footer__item__calc{
    padding: 0px 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1.5em;
}

.footer__item__calc >a {
    position: relative;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    padding: 0.3em 1em;
    border: 1px solid var(--color-border);
    border-radius: 2em;
    gap:5px;
    box-shadow: 19px 20px 34px 0 rgba(164, 160, 196, 0.19);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #dddbdb 100%);   
    z-index: 2;
}

.footer__item__calc >a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2em;
    z-index: -1;
    background-color: rgba(var(--black-rgb), 0.3);
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease,-webkit-transform 0.4s ease;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
}
.footer__item__calc >a:hover{
    color: var(--white);
}

.footer__item__calc >a:hover::before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}
.footer__item__form >h4{
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--color-body);
    text-transform: uppercase;
    font-weight: 500;
}

.footer__item__form > ul{
    list-style: revert;
    font-size: 1rem;
    padding: 0px 1.5em;  
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer__item__form > ul >li{
    font-size: 1.2em;
}

.footer__form__advisory{
    background-image: linear-gradient(96deg, #b5f9c5, #e4d6d6);
    font-size: 1rem;
    margin: 1em;
    padding: 0.5em;
    border-radius: 1em;   
    
}
.footer__form__advisory > h3{
    width: 100%;
    font-size: 1.3em;
    margin-bottom: 10px;
    color: var(--color-body);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.footer__form__advisory--grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-bottom: 1em;
}

.footer__form__advisory .form-group{   
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center; 
    gap: 2px;  
    margin-bottom: 5px;
}
.footer__form__advisory .form-group label{
    font-size: 1.1em;
    text-align: right;
}
.footer__form__advisory .form-group input{
    width: 100%;
    font-size: 1.1em;
    border: none;
    background-color: transparent;
    border-bottom: 1px dashed var(--color-body);
    border-radius: 0;
    
}

.footer__form__advisory .btn{
    width: 100%;
    margin: auto;
    text-align: center;
}

.footer__form__advisory .btn button{
    background-color: var(--white);
    font-size: 1.2em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 2em;
}